<mat-toolbar color="primary">
            <h1 class="app-name">FastNotes</h1>
            <button *ngIf="authService.isLogged()" mat-raised-button [routerLink]='[{outlets:{note: ["5", "edit"] } }]'>Add</button>
            <span class="example-fill-remaining-space"></span>
            <button class="login-button" *ngIf="!authService.isLogged()" mat-raised-button routerLink="/login">Login</button>
            <button class="login-button" *ngIf="authService.isLogged()" mat-raised-button (click)="authService.logout()">Logout</button>
</mat-toolbar>
